<nav>
  <ul>
    <li routerLinkActive="active-link">
      <a routerLink="/employee-processing">Employee Processing</a>
    </li>
    <li routerLinkActive="active-link">
      <a routerLink="/silicon-wafers">Silicon Wafers</a>
    </li>
    <li routerLinkActive="active-link">
      <a routerLink="/fluid-cms">Fluid CMS</a>
    </li>
    <li routerLinkActive="active-link">
      <a routerLink="/static-cms">Static CMS</a>
    </li>
  </ul>
</nav>

<div
  [@routeChange]="outletRef?.activatedRouteData?.['name']"
  id="router-container"
>
  <router-outlet #outletRef="outlet"></router-outlet>
</div>
